<!-- Footer -->
   <footer class="{{ site.site-footer }}">
      <div class="{{ site.site-footer-margin }}">
         <h1 class="f3 f3-m f3-l work mb1">Say 👋🏼 
            <a href="mailto:hello@zainabalasadi.com">{{ site.email }}</a>
         </h1>
         <p class="f5">
            {%- include social-media.html -%}
         </p>
         <p class="f6 gray pt2">Coded with 💛 (<a href="https://github.com/zainabalasadi/zainabalasadi.com" target="_blank" class="gray">source</a>).</p>
      </div>     
   </footer>