<!-- Footer -->
   <footer>
      <div class="footer-margin pt5-l pt4 pb5-l pb4">
         <h4 class="footer-email mb1 work">Say <img class="emoji" src="{{ relative }}assets/images/site/wave.png">&nbsp;
            <a href="mailto:hello@zainabalasadi.com">{{ site.email }}</a>
         </h4>
         <p class="footer-social mb0 mt0">
            {%- include social-media.html -%}
         </p>
         <h3 class="footer-coded  pt2 mt0 mb4">Coded with <img class="emoji-small" src="{{ relative }}assets/images/site/heart.png"> (<a href="https://github.com/zainabalasadi/zainabalasadi.com" target="_blank">source</a>).</h3>
      </div>     
   </footer>