<!-- Footer -->
   <footer class="{{ site.site-footer }}">
      <div class="{{ site.site-footer-margin }}">
         <h1 class="{{ site.site-footer-email }} {{ site.site-intro-text }}">Say 👋🏼 
            <a href="mailto:hello@zainabalasadi.com">{{ site.email }}</a>
         </h1>
         <p class="{{ site.site-footer-social }} {{ site.remove-margin }}">
            {%- include social-media.html -%}
         </p>
         <p class="{{ site.site-footer-coded }} {{ site.remove-margin }}">Coded with 💛 (<a href="https://github.com/zainabalasadi/zainabalasadi.com" target="_blank" class="gray">source</a>).</p>
      </div>     
   </footer>