            {% if site.github_username %}
            <a href="https://github.com/{{ site.github_username| cgi_escape | escape }}" target="_blank" title="GitHub">GitHub</a> · 
            {% endif %}
            {%- if site.instagram_username -%}   
            <a href="https://instagram.com/{{ site.instagram_username| cgi_escape | escape }}" target="_blank" title="Instagram">Instagram</a> · 
            {% endif %}
            {%- if site.linkedin_username -%}   
            <a href="https://linkedin.com/in/{{ site.linkedin_username| cgi_escape | escape }} target="_blank" title="LinkedIn">LinkedIn</a> · 
            {% endif %}
            {%- if site.twitter_username -%}   
            <a href="https://twitter.com/{{ site.twitter_username| cgi_escape | escape }}" target="_blank" title="Twitter">Twitter</a> · 
            {% endif %}
            {%- if site.medium_username -%}   
            <a href="https://medium.com/@{{ site.medium_username| cgi_escape | escape }}" target="_blank" title="Medium">Medium</a>
            {% endif %}