// HTML Overrides
html {
   font-kerning: none;
   font-synthesis: none;
   text-rendering: optimizeLegibility;
   -webkit-font-smoothing: antialiased;
}

// 'main` element
main {
   display: block;
   flex: 1;
}

// Reset some basic elements
html, body,
blockquote, pre, hr,
dl, dd, ol, ul, figure {
   margin: 0;
   padding: 0;
}

::-moz-selection {
   background: $brand-color;
}
 
::selection {
   background: $brand-color;
}

// Basic styling
body {
   font: $base-font-weight #{$base-font-size}/#{$base-line-height} $base-font-family;
   color: $text-color;
   background-color: $background-color;
   -webkit-text-size-adjust: 100%;
   min-height: 100vh;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
}

// Set `margin-bottom` to maintain vertical rhythm
h1, h2, h3, h4, h5, h6, p,
blockquote, pre, ul, ol,
dl, %vertical-rhythm {
   margin-bottom: $spacing-unit / 2;
}

// Homepage
p {
   margin-block-start: 0rem !important;
   margin-block-end: 0rem !important;
   -webkit-margin-before: 0rem;
   -webkit-margin-after: 0rem;
}

.work {
   margin-block-start: 0rem !important;
   -webkit-margin-before: 0rem;
}

// Code formatting
pre,
code {
   @include relative-font-size(0.9375);
   border: 1px solid $grey;
   border-radius: 3px;
   background-color: lighten($brand-color, 60%);
}

code {
   padding: 1px 5px;
}

pre {
   padding: 8px 12px;
   overflow-x: auto;

   >code {
      border: 0;
      padding-right: 0;
      padding-left: 0;
   }
}

// Blockquotes
blockquote {
   color: $text-color;
   font-family: $title-font;
   @include relative-font-size(1.125);

   > :last-child {
      margin-bottom: 0;
   }
}

// Links
a {
   color: $text-color;
   text-decoration: underline;
   -webkit-text-decoration-skip: auto !important;
   
   &:hover {
      color: $brand-color;
   }
}

// Lists
ul, ol {
   margin-left: $spacing-unit;
}

li {
   >ul, >ol {
      margin-bottom: 0;
   }
}

// Images
img {
   max-width: 100%;
   vertical-align: middle;
}

// Heading Styles
h1, h2 {
   font-family: $title-font;
}

h3, .bold {
   font-family: $strong;
}

h1 {
   line-height: $title-font-height;
}

h1, h2, h3, h4, h5, h6 {
   font-weight: $base-font-weight;
}

.post-content h2 {
   margin-bottom: 0.5rem;
   margin-top: 0rem;
   color: $grey;
   font: $base-font-weight #{$base-font-size}/#{$base-line-height} $base-font-family;

}

// H1 = PAGE HEADINGS + INTRO
// H2 = SUBHEADING
// H3 = OVERLINE
// H4 = SMALL TEXT (FOOTER, ETC)
// H5 = 
// H6 =

.f3x-l {
   @media screen and (min-width: 60em) {
      font-size: 1.6rem;
   }
}

.f3x-m {
   @media screen and (max-width: 60em) and (min-width: 30em) {
      font-size: 1.6rem;
   }
}

.light {
   color: $grey;
}

.f4x {
   font-size: 1.1rem;
}

// p {
//    color: $grey;
// }