/** Width overrides **/
.w-55-ns{ 
   width: 55%;
}

.ph6x-l {
   @media screen and (min-width: 60em) {
      padding-left: 9rem;
      padding-right: 9rem;
   }
}

.ph3 {
   @media screen and (max-width: 30em) {
      padding-left: 1.3rem;
      padding-right: 1.3rem;
   }
}

/** Image Hover **/
.styled-list-img {
   max-width: 400px;
   width: 48vw
}

@media (min-width: 768px) {
   .styled-list-img {
       width:30vw
   }
}

.styled-list-img.horizontal {
   width: 56vw;
   max-width: 580px
}

@media (min-width: 768px) {
   .styled-list-img.horizontal {
      width:38vw
   }
}

.hover-item-show {
   position: absolute;
   visibility: hidden;
   opacity: 0;
   transition: opacity $time;
   z-index: 100;
   top: 0;
   right: 0
}

.hover-item:hover .hover-item-show {
   opacity: 1;
   visibility: inherit;
   transition: opacity $time;
}

/** Site header **/
.site-header {
   min-height: $spacing-unit * 1.865;
}

@media screen and (min-width: 60em) {
   .w-48-l {
      width: 48%;
  }
}

@media screen and (max-width: 60em) and (min-width: 30em) {
   .w-48-m {
      width: 48%;
  }
}

/** Site footer **/
footer {
   padding: $spacing-unit 0;
}

/** Page content **/
.post-content {
   margin-bottom: $spacing-unit;

   h2 {
      @include relative-font-size(2);

      @include media-query($laptop) {
         @include relative-font-size(1.75);
      }
   }

   h3 {
      @include relative-font-size(1.625);

      @include media-query($laptop) {
         @include relative-font-size(1.375);
      }
   }

   h4 {
      @include relative-font-size(1.25);

      @include media-query($laptop) {
         @include relative-font-size(1.125);
      }
   }
}