/** Width overrides **/
.w-55-ns{ 
   width: 55%;
}

.mt55-l {
   @media screen and (min-width: 60em) {
      margin-top: 5.5rem;
   }
}

.mb55-l {
   @media screen and (min-width: 60em) {
      margin-bottom: 5.5rem;
   }
}

.ph6x-l {
   @media screen and (min-width: 60em) {
      padding-left: 9rem;
      padding-right: 9rem;
   }
}

.ph3 {
   @media screen and (max-width: 30em) {
      padding-left: 1.3rem;
      padding-right: 1.3rem;
   }
}

/** Image Hover **/
.styled-list-img {
   max-width: 400px;
   width: 48vw
}

@media (min-width: 768px) {
   .styled-list-img {
       width:30vw
   }
}

.styled-list-img.horizontal {
   width: 56vw;
   max-width: 580px
}

@media (min-width: 768px) {
   .styled-list-img.horizontal {
      width:38vw
   }
}

.hover-item{
   display: inline-block;
}

.hover-item-show {
   position: absolute;
   visibility: hidden;
   opacity: 0;
   transition: opacity $time;
   z-index: 100;
   top: 0;
   right: 0
}

.hover-item:hover .hover-item-show {
   opacity: 1;
   visibility: inherit;
   transition: opacity $time;
}

/** Site header **/
.site-header {
   min-height: $spacing-unit * 1.865;
}

@media screen and (min-width: 60em) {
   .w-48-l {
      width: 48%;
  }
}

@media screen and (max-width: 60em) and (min-width: 30em) {
   .w-48-m {
      width: 48%;
  }
}

/** Site footer **/
footer {
   padding: $spacing-unit 0;
}

/** Post content **/
.post-content {
   margin-bottom: $spacing-unit;
}

.post-content img {
   margin-top: 2rem;
   margin-bottom: 2rem;

   @media screen and (min-width: 60em) {
      margin-top: 4rem;
      margin-bottom: 4rem;
   }
}

.post-content .cap {
   margin-bottom: 0rem !important;
}

.hover-item-show, .styled-list-img {
   @include media-query($mobile) {
      display: none !important;
   }
}