$breakpoint-sm-max: 720px;
$breakpoint-sm-min: calc(#{$breakpoint-sm-max} - 1px);
$breakpoint-md-max: 1024px;
$breakpoint-md-min: calc(#{$breakpoint-md-max} - 1px);

:root {
    --serif: "Times New Roman", Times, serif;

    --color-white: #FFFFFF;
    --color-black: #000000;
    --color-grey:  #696969;
    --color-text:  #000000;
    --color-accent:#066541;

    --breakpoint-sm-max: 720px;
    --breakpoint-sm-min: calc(var(--breakpoint-sm-max) - 1);
    --breakpoint-md-max: 1024px;
    --breakpoint-md-min: calc(var(--breakpoint-md-max) - 1);;
    
    --space-base: 8px;
    --space-micro: calc(var(--space-base) / 2);
    --space-small: calc(var(--space-base) * 2);
    --space-medium: calc(var(--space-base) * 3);
    --space-large: calc(var(--space-base) * 4);
}