/** Reset basic elements **/
html, body, div, main, span, applet, object, iframe, h1, h2, h3, h4, h5,
h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del,
dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var,
b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table,
caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details,
embed, figure, figcaption, footer, header, hgroup, menu, nav, output,
ruby, section, summary, time, mark, audio, video {
   margin: 0;
   padding: 0;
   border: 0;
   outline: 0;
   font-size: 100%;
   font-weight: inherit;
   font-style: inherit;
   font-family: inherit;
   font-kerning: none;
   font-synthesis: none;
   text-rendering: optimizeLegibility;
   -webkit-font-smoothing: antialiased;
   vertical-align: baseline;
   letter-spacing: $base-letter-spacing;
}

body {
   font-family: $base-font-family;
   font-weight: $base-font-weight;
   line-height: $base-line-height;
   position: relative;
   overflow-x: hidden;
   color: $text-color;
}

.strong, strong {
   font-weight: 700;
}

em {
   font-style: italic;
}

/** Text highlighting **/
::-moz-selection {
   background: $highlight;
   color: $white;
}

::selection {
   background: $highlight;
   color: $white;
}

/** Links **/
a {
   text-decoration: none;
   color: $text-color;
   border-bottom: 1px solid $text-color;
   padding-bottom: 1.25px;
   transition: color $time;
   -webkit-transition: color $time;

   &:hover,
   &:active {
      color: $grey;
      border-bottom: none;
   }
}

/** Overline styling **/
.overline {
   font-family: $base-font-family;
   font-weight: 700;
   font-size: 14px;
   text-transform: uppercase;
   letter-spacing: $tracked;
}

/** Headings and typography types **/
h1 {
   margin-bottom: $spacing-unit;
}

.type-extra-big {
   font-size: 6.5vw;

   @media (min-width: $small-mobile) {
      font-size: 5vw;
   }

   @media (min-width: $laptop) {
      font-size: 38px;
   }
}

.type-big {
   font-size: 5.5vw;

   @media (min-width: $small-mobile) {
      font-size: 4vw;
   }

   @media (min-width: $laptop) {
      font-size: 28px;
   }
}

.type-small {
   font-size: 12px;

   & a {
      padding-bottom: 0.5px;
   }
}

.type-serif {
   font-family: $serif;
   padding-bottom: 2px;

   @at-root {
      a#{&} {
         padding-bottom: 0px;
      }
   }
}

.align-right {
   text-align: right;
}

/** Post content typography **/
.post-content {
   & p, h2, h3, li {
      @extend .w-65-ns;
      margin-left: auto;
      margin-right: auto;
   }

   & h2 {
      margin-top: 48px;
      margin-bottom: 8px;
      font-size: 1.75em;
   }

   & h3 {
      margin-bottom: 8px;
      font-weight: 700;
   }
}

p  {
   @extend .mb-3;
}

blockquote {
   font-weight: 700;
   margin: $spacing-unit * 2 0;
   @extend .type-big;

   & p {
      margin-bottom: 0;
   }
}

/** Emojis **/
.emoji {
   vertical-align: baseline;
   width: 26px;

   @media screen and (max-width: $mobile) {
      width: 20px;
   }
}

.emoji-small {
   vertical-align: baseline;
   width: 13px;
}

/** Images **/
img {
   max-width: 100%;
   vertical-align: middle;
}


/** Site header **/
.site-header {
   min-height: $spacing-unit * 1.865;
}

figcaption {
   text-align: center;
   color: $text-color;
   opacity: 0.75;
   font-size: $base-font-size - 0.05;
}

.styled-list-container {
   margin-left: 0;
   list-style-type: none;

   & h3 {
      color: $text-color;
      transition: color $time;
      -webkit-transition: color $time;
   }

   &:hover h3 {
      color: $grey;
      transition: color $time;
      -webkit-transition: color $time;
   }
}