/** Reset basic elements **/
html, body, div, main, span, applet, object, iframe, h1, h2, h3, h4, h5,
h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del,
dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var,
b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table,
caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details,
embed, figure, figcaption, footer, header, hgroup, menu, nav, output,
ruby, section, summary, time, mark, audio, video {
   margin: 0;
   padding: 0;
   border: 0;
   outline: 0;
   font-size: 100%;
   font-weight: inherit;
   font-style: inherit;
   font-family: inherit;
   font-kerning: none;
   font-synthesis: none;
   text-rendering: optimizeLegibility;
   -webkit-font-smoothing: antialiased;
   vertical-align: baseline;
	letter-spacing: -0.009em;
}

html, body {
   background: $background-color;
}

body {
   font-family: $base-font-family;
   font-weight: $base-font-weight;
   line-height: $base-line-height;
   position: relative;
   overflow-x: hidden;
   color: $text-color;
}

/** Width of content display **/
main, footer {
   padding: 0 32px;
   max-width: $content-width;
   margin: 0 auto;
}

@media (min-width: $small-mobile) {
   main, footer {
      padding: 40px;
   }
}

div {
   display: block;
}

/** Links **/
a {
   text-decoration: none;
   color: $text-color;
   border-bottom: 1px solid $text-color;
   transition: color $time;
   -webkit-transition: color $time;

   &:hover,
   &:active {
      color: $grey;
      border-bottom: none;
   }
}

/** Lists **/
ul {

}


/** Overline styling **/
.overline {
   font-family: $base-font-family;
   font-weight: 700;
   font-size: 14px;
   text-transform: uppercase;
   letter-spacing: $tracked;
}

/** Works list mechanism **/
.hover-item:hover .hover-item-show {
   opacity: 1;
   visibility: inherit;
   transition: opacity $time;
   -webkit-transition: opacity $time;
}



.hover-item-show {
   position: absolute;
   visibility: hidden;
   opacity: 0;
   transition: opacity $time;
   -webkit-transition: opacity $time;
   z-index: 100;
   top: 0;
   right: 0;
}

.hover-item-show, .styled-list-img {
   @include media-query($mobile) {
      display: none !important;
   }
}




.border-top {
   border-top: 1px solid $grey;
}

.border-bottom {
   border-bottom: 1px solid $grey;
}

.grid {
   width: 100%;
}

.type-extra-big {
   font-size: 5.5vw;
   line-height: $base-line-height;

   @media (min-width: $small-mobile) {
      font-size: 4.5vw;
   }

   @media (min-width: $laptop) {
      font-size: 40px;
   }
}

.type-big {
   font-size: 4.8vw;
   line-height: $base-line-height;

   @media (min-width: $small-mobile) {
      font-size: 3.4vw;
   }

   @media (min-width: $laptop) {
      font-size: 28px;
   }
}

.type-small {
   font-size: 12px;
}





.styled-list-img {
   max-width: 400px;
   width: 48vw;

   @media (min-width: $laptop) {
      width: 30vw;
   }
}





.type-serif {
   font-family: $serif;
   padding-top: 4.15px;
   letter-spacing: 0.01em;
}


.styled-list-container {
   margin-left: 0;
   list-style-type: none;

   & h3 {
      color: $text-color;
      transition: color $time;
      -webkit-transition: color $time;
   }

   &:hover h3 {
      color: $grey;
      transition: color $time;
      -webkit-transition: color $time;
      // .shape-circle {
      //    opacity: 0.5;
      // }
   }
}


.styled-list-item {
   padding: 16px 0;

   & h3 {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      color: $text-color;
      line-height: 1.3;
      transition: color $time;
      -webkit-transition: color $time;
   }

   &:hover h3 {
      color: $text-color;
      transition: color $time;
      -webkit-transition: color $time;
      // .shape-circle {
      //    opacity: 1;
      // }
   }
}




.styled-list-img.horizontal {
   width: 56vw;
   max-width: 580px;

   @media (min-width: $laptop) {
      width: 38vw;
   }
}



.shape-circle {
   display: inline-block;
   width: 2%;
   height: 0;
   padding-bottom: 2%;
   border-radius: 50%;
   margin: 0 1%;

   @media (max-width: $mobile) {
      width: 4%;
      padding-bottom: 4%;
   }

   @media (min-width: $laptop) {
      width: 2.5%;
      padding-bottom: 2.5%;
   }


}




h1, p {
   margin-bottom: $spacing-unit;
}

// Set `margin-bottom` to maintain vertical rhythm
%vertical-rhythm {
   margin-bottom: 0;
}


// Blockquotes
blockquote {
   color: $text-color;
   font-family: $strong;
}









.light {
   color: $grey;
}

.f4x {
   font-size: 1.1rem;
}

.caption {
   font-size: 1rem;
   text-align: center;
   margin-bottom: 0.5rem;
}

.caption-between {
   font-size: 1rem;
   text-align: center;
   margin-bottom: 0rem;
}

.emoji {
   vertical-align: top;
   width: 25px;

   @media screen and (max-width: 30em) {
      width: 20px;
   }
}

.emoji-small {
   vertical-align: inherit;
   width: 13px;
}


// Highlight colours
::-moz-selection {
   background: $yellow;
   color: $text-color;
}

::selection {
   background: $yellow;
   color: $text-color;
}

.home {
   margin-bottom: $spacing-unit * 2;
}

// Lists
ul, ol {
   margin-left: $spacing-unit * 1.5;
}

li {
   padding-left: $spacing-unit * 0.25;
   >ul, >ol {
      margin-bottom: 0;
   }
}

.flush-left {
   float: left;
}

.flush-right {
   float: right;
}

// Images
img {
   max-width: 100%;
   vertical-align: middle;
}


/** Site header **/
.site-header {
   min-height: $spacing-unit * 1.865;
}

/** Post content **/
.post-content {
   margin-bottom: $spacing-unit;
}

.post-content img {
   margin-top: 2rem;
   margin-bottom: 2rem;

   @media screen and (min-width: 60em) {
      margin-top: 4rem;
      margin-bottom: 4rem;
   }
}

.post-content .cap {
   margin-bottom: 0rem !important;
}


/** Margin, padding and width options **/
.mt-small { margin-top: 80px; }
.mt-medium { margin-top: 140px; }
.mt-1 { margin-top: 4px; }
.mt-2 { margin-top: 8px; }
.mt-3 { margin-top: 16px; }
.mt-4 { margin-top: 24px; }

.mb-small { margin-bottom: 80px; }
.mb-medium { margin-bottom: 140px; }
.mb-0 { margin-bottom: 0; }
.mb-3 { margin-bottom: 16px; }
.mb-4 { margin-bottom: 24px; }

.mr-3 { margin-right: 16px; }


@media (min-width: $desktop) {
   .mt-lg-6 { margin-top: 40px; }
   .mt-lg-large { margin-top: 240px; }
   .mb-lg-large { margin-bottom: 240px; }
}

.w-10 {  width:  10%; }
.w-20 {  width:  20%; }
.w-25 {  width:  25%; }
.w-30 {  width:  30%; }
.w-33 {  width:  33%; }
.w-34 {  width:  34%; }
.w-40 {  width:  40%; }
.w-50 {  width:  50%; }
.w-60 {  width:  60%; }
.w-70 {  width:  70%; }
.w-75 {  width:  75%; }
.w-80 {  width:  80%; }
.w-90 {  width:  90%; }
.w-100 { width: 100%; }

@media (min-width: $laptop) {
   .w1-ns {  width: 1rem; }
   .w2-ns {  width: 2rem; }
   .w3-ns {  width: 4rem; }
   .w4-ns {  width: 8rem; }
   .w5-ns {  width: 16rem; }
   .w-10-ns { width:  10%; }
   .w-20-ns { width:  20%; }
   .w-25-ns { width:  25%; }
   .w-30-ns { width:  30%; }
   .w-33-ns { width:  33%; }
   .w-34-ns { width:  34%; }
   .w-40-ns { width:  40%; }
   .w-50-ns { width:  50%; }
   .w-60-ns { width:  60%; }
   .w-65-ns { width:  65%; }
   .w-70-ns { width:  70%; }
   .w-75-ns { width:  75%; }
   .w-80-ns { width:  80%; }
   .w-90-ns { width:  90%; }
   .w-100-ns { width: 100%; }
   .w-third-ns { width: calc(100% / 3); }
   .w-two-thirds-ns { width: calc(100% / 1.5); }
   .w-auto-ns { width: auto; }
}

