// Typography
$favoritBold:       'FavoritBold', sans-serif;
$favoritRegular:      'FavoritRegular', sans-serif;
$favoritLight:        'FavoritLight', sans-serif;

// Base
$base-font-family:    $favoritLight;
$base-font-size:      1.10rem;
$base-font-weight:    400;
$base-line-height:    1.5;
$base-letter-spacing: 0rem;

// Headings & Titles
$title-font:          $favoritRegular;
$title-font-size:     $base-font-size;
$title-font-weight:   $base-font-weight;
$title-font-height:   $base-line-height;
$title-font-spacing:  $base-letter-spacing;
$strong:              $favoritBold;

// Spacing
$spacing-unit:        32px;

// Media queries
$content-width:       1152px;
$tachyon-break:       480px;
$mobile:              600px;
$laptop:              880px;
$desktop:             1200px;

// Colors
$text-color:          #222222;
$background-color:    #FFFFFF;
$brand-color:         #FBCB00;
$white:               #FFFFFF;
$black:               #000000;
$grey:                #a1a1a1;

// Misc
$transition:          all 0.5s ease-in-out 0s;





