// Typography
$favorit:          'FavoritRegular', sans-serif;
$base-font-family: $favorit;
$title-font:       $favorit;
$base-font-size:   1.10rem;
$base-font-weight: 400;
$base-line-height: 1.5;
$sans-serif-letter-spacing: -0.037em;
$serif-letter-spacing: -0.01em;
$small-font-size: $base-font-size * 0.875;

$spacing-unit: 32px;

// Media queries
$content-width:    1152px;
$mobile:           600px;
$laptop:           880px;

// Colors
$text-color:       #222222;
$background-color: #FFFFFF;
$brand-color:      #FBCB00;
$white:            #FFFFFF;
$black:            #000000;
$gray:             #EEEEEE;

$grey-color:       #000000;

// Misc
$transition: all 0.2s ease-in-out 0s;