// Typography
$commonsRegular:      'TTCommons-Regular', sans-serif;
$commonsDemi:         'TTCommons-DemiBold', sans-serif;

// Base
$base-font-family:    $commonsRegular;
$base-font-size:      1.17rem;
$base-font-weight:    400;
$base-line-height:    1.5;
$base-letter-spacing: 0rem;

// Headings & Titles
$title-font:          $commonsRegular;
$title-font-size:     $base-font-size;
$title-font-weight:   $base-font-weight;
$title-font-height:   1.5;
$title-font-spacing:  $base-letter-spacing;
$strong:              $commonsDemi;

// Spacing
$spacing-unit:        32px;

// Media queries
$content-width:       1152px;
$tachyon-break:       480px;
$mobile:              600px;
$laptop:              880px;
$desktop:             1200px;

// Colors
$text-color:          #000000;
$white:               #FFFFFF;
$brand-color:         #dadad8;
$black:               #000000;
$grey:                #808080;
$background-color:      $white;
$bg:                  #fcfcfc;

// Misc
$transition:          all 0.5s ease-in-out 0s;
$time:                0.5s;





