---
---

@charset "utf-8";

// Font Imports
@font-face {
   font-family: 'TTCommons-Regular';
   font-display: auto;
   src: url('../fonts/TTCommons-Regular.eot');
   src: url('../fonts/TTCommons-Regular.eot?#iefix') format('embedded-opentype'), 
   url('../fonts/TTCommons-Regular.woff2') format('woff2'), 
   url('../fonts/TTCommons-Regular.woff') format('woff'),
   url('../fonts/TTCommons-Regular.ttf') format('truetype'),
   url('../fonts/TTCommons-Regular.svg#TTCommons-Regular') format('svg');
}

@font-face {
   font-family: 'TTCommons-DemiBold';
   font-display: auto;
   src: url('../fonts/TTCommons-DemiBold.eot');
   src: url('../fonts/TTCommons-DemiBold.eot?#iefix') format('embedded-opentype'), 
   url('../fonts/TTCommons-DemiBold.woff2') format('woff2'), 
   url('../fonts/TTCommons-DemiBold.woff') format('woff'),
   url('../fonts/TTCommons-DemiBold.ttf') format('truetype'),
   url('../fonts/TTCommons-DemiBold.svg#TTCommons-DemiBold') format('svg');
}


// Font scaling
@mixin relative-font-size($ratio) {
   font-size: $base-font-size * $ratio;
}

// Media Queries
@mixin media-query($device) {
   @media screen and (max-width: $device) {
      @content;
   }
}

// Import partials
@import 
"tachyons-sass/tachyons.scss",
"variables",
"base",
"layout",
"syntax-highlighting";
