<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">
{% include head.html %}
<!-- Body -->
<body> 
   <!-- Main -->
   <main>
      {% if page.id or page.url == "/about/" %}
      <!-- Back Link -->
      <p class="mb0 mt0"><a href="{{ relative }}" alt="Go back home">←</a></p>
      {% endif %}
      {{ content }}
   </main>
   <!-- End Main -->

   {% if page.id %}
   <div class="cf">
      <div class="fl w-50">
         <!-- Back Link -->
         {% include back.html %}
      </div>
      <div class="fr tr w-50">
         <!-- Next Page -->
         {% include next.html %}
      </div>
   </div>
   {% endif %}

   {% include footer.html %}
   {% if page.layout == 'home' %}
   <!-- Script includes -->
   <script>
      if (screen && screen.width > 600) {
      document.write('<script type="text/javascript" src="../assets/js/jquery.slim.min.js"><\/script>' +
                     '<script type="text/javascript" src="../assets/js/index.js"><\/script>');
      }
   </script>
   {%- endif -%}
</body>
</html>