<!DOCTYPE html>
<!--

      |--------------------|
      |    HELLO  THERE!   |
      |--------------------|
   (\__/)  ||
   (•ㅅ•) ||
   / 　 づ      

  No need to peek! 
  The code for this site is publicly accessible
  https://github.com/zainabalasadi/zainabalasadi.com

-->

<html lang="en">
{% include head.html %}
<body> 
   <div>
      {% include back.html %}
      {{ content }}

      {% if page.id %}
      <div>
         <div>
            <p><a href="{{ site.baseurl }}" alt="Go back">← Back</a></p>
         </div>
         <div>
            {% include next.html %}
         </div>
      </div>
      {% endif %}
   </div>

   {% if page.layout == 'home'%}
   <script>
      if (screen && screen.width > 719) {
      document.write('<script type="text/javascript" src="../assets/js/jquery.slim.min.js"><\/script>' +
                     '<script type="text/javascript" src="../assets/js/index.js"><\/script>');
      }
   </script>
   {%- endif -%}
</body>
</html>