---
layout: default
---
   {{ content }}


<section class="mt-medium mt-lg-large">
   <!-- Title Design -->
   <h2 class="overline">A few things I’ve designed —</h2>

   <ul class="styled-list-container mb-3 mt-3">
      <!-- Design Posts -->
      {% assign posts = site.posts | sort: 'weight' %}
      {%- for post in posts -%}
      {%- if post.categories contains 'case-study' and post.status != 'draft' -%}

      <a href="{{ post.url }}">
         {% if forloop.last == true %}
         <li class="hover-item styled-list-item border-top border-bottom">
         {% else %}
         <li class="hover-item styled-list-item border-top">
         {% endif %}
            <h3 class="styled-list-title type-big"><span class="type-serif">{{ post.company }}</span><span class="shape-circle" style="background-color: {{ post.color }}"></span>{{ post.catchy-title }}</h3>
            <img class="hover-item-show styled-list-img horizontal" src="{{ post.image }}" alt="{{ post.company }}" />
         </li>
      </a>
      {% endif %}
      {%- endfor -%} 
   </ul>
</section> 

<section class="mt-medium">
   <!-- Title Develop -->
   <h2 class="overline">A few things I’ve developed —</h2>

   <ul class="styled-list-container mb-3 mt-3">
      <!-- Dev Posts -->
      {% assign posts = site.posts | sort: 'weight' %}
      {%- for post in posts -%}
      {%- if post.categories contains 'dev' and post.status != 'draft' -%}

      <a href="{{ post.url }}">
         {% if forloop.first == true %}
         <p>booooo</p>
         <li class="hover-item styled-list-item border-top border-bottom">
         {% else %}
         <li class="hover-item styled-list-item border-top">
         {% endif %}
            <h3 class="styled-list-title type-big"><span class="type-serif">{{ post.product }}</span><span class="shape-circle" style="background-color: {{ post.color }}"></span>{{ post.catchy-title }}</h3>
            <img class="hover-item-show styled-list-img horizontal" src="{{ post.image }}" alt="{{ post.company }}" />
         </li>
      </a>
      {% endif %}
      {%- endfor -%}  
   </ul> 
</section>

<section class="mt-medium">
   <!-- Title web -->
   <h2 class="overline">Elsewhere on the interwebs —</h2>

   <ul class="styled-list-container mb-3 mt-3">
      <a href="">
         <li class="hover-item styled-list-item border-top">
            <h3 class="styled-list-title type-big type-serif">Journal</h3>
         </li>
      </a>
      <a href="{% post_url 2019-12-26-now %}">
         <li class="hover-item styled-list-item border-top">
            <h3 class="styled-list-title type-big type-serif">What am I doing now, you ask?</h3>
         </li>
      </a>
      {%- if site.medium_username -%}
      <a href="https://medium.com/@{{ site.medium_username| cgi_escape | escape }}" target="_blank" title="Medium">
         <li class="hover-item styled-list-item border-top border-bottom">
            <h3 class="styled-list-title type-big type-serif">Medium</h3>
         </li>
      </a>
      {% endif %}
   </ul> 
</section>