---
layout: default
---
<article class="post">

   <header>
      {% if page.url == "/now/" %}
      <div id="nowTitle" class="hover-item">
         <h1 class="type-serif type-big">{{ page.heading }}</h1>
         <div class="hover-item-show hover-item-textBox">
            <span class="overline">Wtf*ck is this</span>
            <p class="mt-3">Apart from showcasing what I've worked on in the past, I wanted a page where I can share what I'm focused on at this point in time.</p>
            <p class="mt-3">Plus, is there any better way to hold myself accountable to things I want to complete than by publicly sharing it? ¯\_(ツ)_/¯</p>
         </div>
      </div>
      {% else %}
      <h1 class="type-serif type-big">{{ page.heading }}</h1>
      {% endif %}
   </header>

   <div class="w-70-ns">
      {{ content }}
   </div>

</article>