---
layout: default
---
<article class="post" itemscope itemtype="http://schema.org/BlogPosting">
   <header class="mt5-l mt5 post-header">
      <h3 class="{{ site.site-text-overline }} mb0">{{ page.company }}</h3>
      <h1 class="f2 work pb4-l pb4" itemprop="name headline">{{ page.catchy-title }}</h1>
   
      <div>
         <div class="cf">
            <div class="fl w-100 w-100-m w-50-ns">
               <p>{{ page.description }}</p>
            </div>
            <div class="fl w-100 w-100-m w-20-ns">&nbsp</div>
            <div class="fl w-100 w-100-m w-30-ns">
               <div><h3 class="{{ site.site-text-overline }} di">Role:</h3> {{ page.role }}</div>
               <div><h3 class="{{ site.site-text-overline }} di">Team:</h3> {{ page.team }}</div>
               <div><h3 class="{{ site.site-text-overline }} di">Timeline:</h3> {{ page.timeline }}</div>
            </div>
         </div>
      </div>
   </header>

   <div class="post-content e-content" itemprop="articleBody">
      {{ content }}
   </div>

   <a class="u-url" href="{{ page.url | relative_url }}" hidden></a>
</article>