---
layout: default
---
<article class="mt-4" itemscope itemtype="http://schema.org/BlogPosting">
   <!-- Case study header -->
   <header>
      <h2 class="overline">{{ page.company }}</h2>
      <h1 class="type-extra-big type-serif" itemprop="name headline">{{ page.catchy-title }}</h1>

      <section class="grid">
         <div class="flush-left w-100 w-100-m w-65-ns">
            <p class="mb-4">{{ page.description }}</p>
         </div>
         <div class="flush-right w-100 w-100-m w-25-ns">
            <h3><span class="strong">Role</span> &nbsp;&nbsp;{{ page.role }}</h3>
            <h3><span class="strong">Team</span> &nbsp;&nbsp;{{ page.team }}</h3>
            <h3><span class="strong">Timeline</span> &nbsp;&nbsp;{{ page.timeline }}</h3>
         </div>            
      </section>
   </header>

   <div class="post-content" itemprop="articleBody">
      <img class="img-mt img-mb" src="{{ page.image }}">
      {{ content }}
   </div>
   <a href="{{ page.url | relative_url }}" hidden></a>
</article>

