---
layout: default
---

<div class="article-hero">
   <div class="article-hero__img"></div>




   <div class="article layout-grid">
      <div style="z-index: 1" class="article__content article-hero__bg layout-grid__cell layout-grid__cell--span-6-desktop layout-grid__cell--span-8-tablet layout-grid__cell--span-4-phone">
         <h1>{{ page.catchy-title }}</h1>
         <h2>{{ page.company }}</h2>
         <p>{{ page.description }}</p>
         <p>{{ page.role }}</p>
         <p>{{ page.team }}</p>
         <p>{{ page.timeline }}</p>
         END
      </div>
      <div id="container">
         <div id="box" style="background-color: {{ page.color }}; translate3d(0px, -28px, 0px); position: absolute; left: 0; width: 100%; height: 550px;"></div> 
      </div>


      <aside class="sans-serif-text grey-text article__structure layout-grid__cell layout-grid__cell--span-3-desktop layout-grid__cell--span-12-tablet layout-grid__cell--span-4-phone">
         <p>Contents</p>
         <ol class="article__structure-list">
           <li><a class="no-underline" href="#motivationandpriorwork">Motivation and prior&nbsp;work</a></li>
           <li><a class="no-underline" href="#approach">Approach</a></li>
           <li><a class="no-underline" href="#limitations">Limitations</a></li>
           <li><a class="no-underline" href="#futuredirections">Future&nbsp;directions</a></li>
           <li><a class="no-underline" href="#timeline">Timeline</a></li>
         </ol>
         <hr class="md-none">
      </aside>
      

      <div class="article__content layout-grid__cell layout-grid__cell--span-6-desktop layout-grid__cell--span-8-tablet layout-grid__cell--span-4-phone">
         
         {{ content }}
   
         {% include footer.html %}
      </div>
   </div>
</div>

<!-- <script>
   window.addEventListener('load', function() {
   var box = document.getElementById('box'),
   docHeight = document.documentElement.offsetHeight;
  
   window.addEventListener('scroll', function() {
      // normalize scroll position as percentage
      var scrolled = window.scrollY / ( window.innerHeight - 0.5),
      transformValue = 'scale3d('+scrolled+', '+scrolled+', '+scrolled+')';

      box.style.WebkitTransform = transformValue;
      box.style.MozTransform = transformValue;
      box.style.OTransform = transformValue;
      box.style.transform = transformValue;
      
      }, false);
  
   }, false);
</script> -->

